<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>First Penguin - Edit</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.png" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles_edit.css" rel="stylesheet" />
        <style>
        </style>
    </head>
    <body>
        <!-- Navigation-->
        <div class="navbar-post">
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="col-xs-3">
                <a class="navbar-brand" href="/"><img src="static/assets/img/navbar-logo.png" alt="..."/></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </div>
        </nav>
        </div>
​
        <!-- Product section-->
        <div class="mypost">
            <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="static/assets/img/portfolio/1.jpg" alt="..." /></div>
<!--                     <a class="card-img-top mb-5 mb-md-0" href="/"><img src="static/assets/img/navbar-logo.png" alt="..."/></a>-->
                    <div class="col-md-6">
​
                        <div id="editbox"><h1 class="display-5 fw-bolder"> Edit </h1></div>
                        <br><p class="lead"> 바꾸고싶으면 여기서 바꾸세유~~ 고치고 아래 버튼 누르세용용</p></br>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing1">Name</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-sm">
                        </div>
​
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-lg">Introduction</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-lg">
                        </div>
​
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing2">MBTI</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-sm">
                        </div>
​
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing3">Blog</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="edit-button">
                            <button type="button" class="btn btn-secondary btn-lg">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
​
        <!-- Related items section-->
        <!-- Footer-->
​
        <div class="footer_py">
            <footer class="py-5 bg-dark">
                <div class="container"><p class="m-0 text-center text-white">First Penguin Website 2022</p></div>
            </footer>
        </div>
​
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
    </body>
</html>